@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* font for title */
.custom-font {
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow effect */
    background: rgba(255, 1, 1, 0.8); /* Color gradient with blood-red */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity to make it more visible */
    top: 0;
    z-index: 999; /* Ensure navbar displays over other content */
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.custom-font {
    font-family: "Sen", sans-serif;
}

.navbar-links {
    flex: 6;
    display: flex;
    justify-content: flex-end;
}

.navbar-list {
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-list-item {
    margin-right: 30px;
    font-weight: bold;
    position: relative; /* Add relative positioning */
}

.nav-bar-anchor {
    text-decoration: none;
    color: white;
}

/* Red shade effect on items */
.navbar-list-item::before {
    content: '';
    position: absolute;
    bottom: 0; /* Align to the bottom of the list item */
    left: 0; /* Start from the left */
    width: 0; /* Start with zero width */
    height: 3px; /* Adjust thickness as needed */
    background-color: rgba(170, 37, 37, 0.7); /* Adjust opacity */
    transition: width 0.3s ease; /* Smooth transition for width change */
}

.navbar-list-item:hover::before {
    width: 100%; /* Expand to full width on hover */
}

.navbar-list-item p {
    display: inline-block;
    padding: 8px;
    margin: 0;
}


/* sidebar */

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    z-index: 999; /* Ensure sidebar displays over other content */
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.arrow-container {
    margin-bottom: auto; /* Push arrow to the top of the sidebar */
}

.rotate {
    transform: rotate(180deg); /* Rotate arrow icon 180 degrees */
}

.sidebar-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.sidebar-link {
    color: white; /* Set default link color */
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.sidebar-link:hover {
    color: blue; /* Change link color on hover */
}

/* arrow for sidebar */
.sidebar.active {
    width: 200px; /* Adjust width as needed when sidebar is active */
}



/* popup */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*fix a position*/
    width: 60%;
    height:40%;
    border-radius: 30px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    background: #fff;
    visibility: hidden; /*hides the popup*/
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(204, 0, 0, 0.8);
}

#popup.active {
    top: 40%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

/* cross-searchbar */
.cross{
    position: absolute;
    right:0px;
    top:0px;
    margin:10px;
}

#cross-id{
    /* underline */
    text-decoration: none;
    font-weight: 400;
    color:white;
}

/* search bar  */
.search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.i-wrap { /*reposition search bar left*/
    float: left;
    width: 100%;
    top:50%;
    position: relative;
}

.search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px;
}

.search-input-item {
    /* float: left; */
    margin: 0px;
    width: 80%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}

.search-input-item input:first-child {
    border-radius: 100%;
}

.search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    margin:0px;
}

.search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    background: red;
}

.search-input-wrap {
    
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction:column;
    column-gap: 0px;
}

/* starting image */
.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container {
    margin-left: 50px;
}

.starting-content {
    height: 50vh;
    padding: 50px;
}

.starting-title {
    width: 200px;
}

.starting-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

.starting-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
}

/* movie starts */

.movie-list-container {
    padding-left:20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
    /* z-index:1; */
}

.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2); /*expanding*/
    margin: 0 30px;
    opacity: 0.5;
    /* z-index: 1; */
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
}

.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 299px;
    height: 168px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: #333;
    padding: 0px 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button {
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}


/* scrolling arrow part */
.arrow {
    font-size: 80px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}

.title {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
}


/* footer */
footer {
    position: static;
    bottom: 0;
}

.footer-container {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 50px 50px 60px 50px;
    margin-top: 0px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right {
    display: inline-block;
    vertical-align: top;
    /* kind of like jc */
}

/*left*/

.footer-container .footer-left {
    width: 30%;
}

.footer-container h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-container h3 span {
    color: red;
}

/*link*/

.footer-container .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-container .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-container .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/*center*/

.footer-container .footer-center {
    width: 35%;
}

.footer-container .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-container .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-container .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-container .footer-center p a {
    color: red;
    text-decoration: none;
    ;
}

/*right*/

.footer-container .footer-right {
    width: 30%;
}

.footer-container .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-container .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-container .footer-icons {
    margin-top: 25px;
}

.footer-container .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-container .footer-icons a:hover {
    background-color: grey;
}

.footer-icons .icon {
    position: relative;
    top: 25%;
}

:focus {
    outline: 0;
}

.search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.search-element h3{
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
}
.search-list{
    /* position: relative;
    right: 50%;
    top: 230%; */
    max-height: 500px;
    overflow-y: scroll;
    /* z-index: 10; */
}
.search-list .search-list-item{
    background-color: var(--light-dark-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(650px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}
